/* src/components/BrandsSection/BrandsSection.module.css */

.brandsSection {
  padding: 10px 0;
  background-color: #f9f9f9;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.carousel {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.slide img {
  height: 8REM; /* Logos más grandes */
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease-in-out; /* Transición para el efecto hover */
  display: block;
  margin: 0 auto;
}

.slide img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.1); /* Efecto para agrandar el logo al pasar el cursor */
}

@media (max-width: 768px) {
  .brandsSection {
    padding: 60px 0;
  }

  .title {
    font-size: 1.2rem;
  }

  .slide img {
    height: 50px; /* Ajuste del tamaño para pantallas pequeñas */
  }

  .slide img:hover {
    transform: scale(1.05); /* Efecto de agrandamiento más sutil en móviles */
  }
}